<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Sun May 24 2020 05:56:15 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5ec2eb48d7c5d8b361390275" data-wf-site="5ec2eb48d7c5d8719b390274">


<meta charset="utf-8">
<title>Liquorice Gen - Generate liquidity for your DeFi project</title>
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="Webflow" name="generator">
<link href="css/normalize.css" rel="stylesheet" type="text/css">
<link href="css/webflow.css" rel="stylesheet" type="text/css">
<link href="css/liquorice-gen.webflow.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
<script
  type="text/javascript">WebFont.load({ google: { families: ["Exo:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic", "Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic", "Droid Serif:400,400italic,700,700italic"] } });</script>
<!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
<script
  type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
<link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="images/webclip.png" rel="apple-touch-icon">


<body>
  <div class="container" id="vue-app">
    <div class="nmenudesktop">
      <div class="nnavbar">
        <div class="nnavbarcontents">
          <div class="navbaritems">
            <div class="navblockitemstrigger">
              <div class="text-block"><a href="https://www.linumlabs.com/research" contactform="#Contactform"
                  target="_blank" class="navlink">Research</a></div>
            </div>
            <div class="navblockitemstrigger">
              <div class="text-block"><a href="#About" contactform="#Contactform" class="navlink">About</a></div>
            </div>
            <div class="navblockitemstrigger">
              <div class="text-block"><a href="#Generate" contactform="#Contactform" class="navlink">Generate</a></div>
            </div>
          </div>
        </div>
        <div class="useraddress"><img src="images/metamask.svg" alt="" class="iconimage">
          <div id="userAddressSet" class="addressblock">{{account}}</div>
        </div>
      </div>
    </div>
    <main class="main">
      <header class="headerwrapper">
        <div class="aboutportion header"><img src="images/Liq-Wordmark.svg" alt="" class="logoimageheader">
          <div class="headertitle w-container">
            <h5>become <strong>liquid</strong> rich.</h5>
            <p class="headerpara">Bootstrap liquidity though our all-in-one bonding curve tool service</p>
            <div class="buttonembed w-embed"><button type="button" style="color:#FF500B;
  			background-color:FFFFFF;
        min-width: 150px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px" @click="connect()">
                Connect your Wallet
              </button></div>
          </div>
        </div>
      </header>
      <header id="About" class="aboutwrapper">
        <div connected class="aboutportion">
          <div class="stepcontainer w-container">
            <div class="rich-text-block w-richtext">
              <h1>How it works</h1>
              <p><strong>Using a bonding curve to collect liquidity, Liquorice Gen will take your token from 0 to hero,
                  and allow you to launch a Uniswap market for your freshly funded token.</strong></p>
              <p>Below are the various parameters that can be set and fiddled with in order to design your token.</p>
              <ul role="list">
                <li>The first set of parameters are the basic ERC20 token parameters</li>
                <li>This is followed by the advanced set up for the thresholds for transitioning your token from the
                  bonding curve to a Uniswap market.</li>
                <li>Finally the parameters for the bonding curve - which will determine the price of your token until
                  the
                  transition to the open market.</li>
                <li>You can edit any of these fields and see the results in the summary.</li>
                <li>When you are happy with the results, you can generate your bonding curve at the end of this page.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>
      <header class="sectionwrapper">
        <div class="stepcontainer w-container">
          <h1>1. Design your Token</h1>
          <p>These parameters set up the basics of your ERC20 token.</p>
          <div class="inputfieldswrapper">
            <article id="TokenName" class="inputfieldwrapper double">
              <article id="TokenName" class="inputfieldwrapper name">
                <div class="labeltextblock">Token Name</div>
                <div class="code-embed name w-embed"><input v-model="tokenSettings.tokenNameInput" style="
 color:##e2e2e2;
 background-color:#1E1E1E;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 40px;
  border-top-style: solid;
  	border-top-color: #232323;
  		border-top-width: 1px;
  border-left-style: solid;
    border-left-color: #232323;
  		border-left-width: 1px;
  border-right-style: solid;
    border-right-color: #232323;
  		border-right-width: 1px;
  border-bottom-style: solid;
    border-bottom-color: #232323;
  		border-bottom-width: 1px;
  " type="text" maxlength="15" id="tokenNameInput"></div>
              </article>
              <article id="TokenSymbol" class="inputfieldwrapper symbol">
                <div class="labeltextblock">Symbol</div>
                <div class="code-embed symbol w-embed"><input v-model="tokenSettings.tokenSymbolInput" style="
 color:##e2e2e2;
 background-color:#1E1E1E;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 40px;
  border-top-style: solid;
  	border-top-color: #363636;
  		border-top-width: 1px;
  border-left-style: solid;
    border-left-color: #232323;
  		border-left-width: 1px;
  border-right-style: solid;
    border-right-color: #232323;
  		border-right-width: 1px;
  border-bottom-style: solid;
    border-bottom-color: #232323;
  		border-bottom-width: 1px;
      " type="text" maxlength="3" id="tokenSymbolInput"></div>
              </article>
            </article>
            <article id="TokenCollateral" class="inputfieldwrapper collateral">
              <div class="labeltextblock">Collateral Address</div>
              <div class="code-embed w-embed"><input v-model="collateralToken" style="
 color:##e2e2e2;
 background-color:#1E1E1E;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 40px;
  border-top-style: solid;
  	border-top-color: #232323;
  		border-top-width: 1px;
  border-left-style: solid;
    border-left-color: #232323;
  		border-left-width: 1px;
  border-right-style: solid;
    border-right-color: #232323;
  		border-right-width: 1px;
  border-bottom-style: solid;
    border-bottom-color: #232323;
  		border-bottom-width: 1px;
      " type="text" id="tokenCollateralInput"></div>
            </article>
          </div>
        </div>
        <div class="stepcontainer w-container">
          <h1>2. Advanced Token Setup</h1>
          <p>For the magic of Liquorice Gen to work you need to fill in a few more advanced parameters for your Token
            collateral. The threshold inputs will be scaled by 1e18 for you.</p>
          <div class="inputfieldswrapper">
            <article id="TokenName" class="inputfieldwrapper collateral">
              <div class="labeltextblock">Token Threshold</div>
              <div class="code-embed curve w-embed"><input v-model="tokenSettings.tokenThresholdInput" style="
 color:##e2e2e2;
 background-color:#1E1E1E;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 40px;
  border-top-style: solid;
  	border-top-color: #232323;
  		border-top-width: 1px;
  border-left-style: solid;
    border-left-color: #232323;
  		border-left-width: 1px;
  border-right-style: solid;
    border-right-color: #232323;
  		border-right-width: 1px;
  border-bottom-style: solid;
    border-bottom-color: #232323;
  		border-bottom-width: 1px;
  " type="text" maxlength="30" id="tokenThresholdInput"></div>
            </article>
            <article id="TokenCollateral" class="inputfieldwrapper collateral">
              <div class="labeltextblock">Timeout <br></div>
              <div class="code-embed curve w-embed"><input v-model="tokenSettings.tokenTimeOutInput" style="
 color:##e2e2e2;
 background-color:#1E1E1E;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 40px;
  border-top-style: solid;
  	border-top-color: #232323;
  		border-top-width: 1px;
  border-left-style: solid;
    border-left-color: #232323;
  		border-left-width: 1px;
  border-right-style: solid;
    border-right-color: #232323;
  		border-right-width: 1px;
  border-bottom-style: solid;
    border-bottom-color: #232323;
  		border-bottom-width: 1px;
      " type="text" maxlength="3" id="tokenTimeOutInput"></div>
            </article>
            <article id="TokenCollateral" class="inputfieldwrapper collateral">
              <div class="labeltextblock">Minimum Token<br>Threshold</div>
              <div class="code-embed curve w-embed"><input v-model="tokenSettings.minTokenThresholdInput" style="
 color:##e2e2e2;
 background-color:#1E1E1E;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 40px;
  border-top-style: solid;
  	border-top-color: #232323;
  		border-top-width: 1px;
  border-left-style: solid;
    border-left-color: #232323;
  		border-left-width: 1px;
  border-right-style: solid;
    border-right-color: #232323;
  		border-right-width: 1px;
  border-bottom-style: solid;
    border-bottom-color: #232323;
  		border-bottom-width: 1px;
      " type="text" maxlength="35" id="minTokenThresholdInput"></div>
            </article>
          </div>
        </div>
        <div class="stepcontainer w-container">
          <h1>3. Curve Parameters</h1>
          <p><strong>To determine the price of the token, the bonding curve needs to be configured.
            </strong><br><br>This
            configuration will affect the price of the token, as well as how much collateral will be in your token when
            it
            transitions to the free market. The collateral values can be seen in much more detail in the results section
            of this page once you have configured the curve.</p>
          <h1 class="heading-7">How does the bonding curve smart contract work?</h1>
          <p>All of these numbers are scaled to 1e18. This means that if you enter 400 you are really entering 0 . 000
            000
            000 000 000 400. Each parameter has a max limit that it cannot be greater than (or you are going to run into
            some overflows). These limits are determined by your token threshold.</p><img
            src="images/Equationweb-01.svg" alt="" class="image-18">
          <div class="inputfieldswrapper">
            <article id="TokenCollateral" class="inputfieldwrapper collateral">
              <div class="labeltextblock">Curve Input A</div>
              <div class="code-embed curve w-embed"><input v-model="tokenSettings.curveParamAInput" style="
 color:##e2e2e2;
 background-color:#1E1E1E;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 40px;
  border-top-style: solid;
  	border-top-color: #232323;
  		border-top-width: 1px;
  border-left-style: solid;
    border-left-color: #232323;
  		border-left-width: 1px;
  border-right-style: solid;
    border-right-color: #232323;
  		border-right-width: 1px;
  border-bottom-style: solid;
    border-bottom-color: #232323;
  		border-bottom-width: 1px;
      " type="text" maxlength="35" id="curveParamAInput"></div>
            </article>
            <article id="TokenCollateral" class="inputfieldwrapper collateral">
              <div class="labeltextblock">Curve Input B</div>
              <div class="code-embed curve w-embed"><input v-model="tokenSettings.curveParamBInput" style="
 color:##e2e2e2;
 background-color:#1E1E1E;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 40px;
  border-top-style: solid;
  	border-top-color: #232323;
  		border-top-width: 1px;
  border-left-style: solid;
    border-left-color: #232323;
  		border-left-width: 1px;
  border-right-style: solid;
    border-right-color: #232323;
  		border-right-width: 1px;
  border-bottom-style: solid;
    border-bottom-color: #232323;
  		border-bottom-width: 1px;
      " type="text" maxlength="35" id="curveParamBInput"></div>
            </article>
            <article id="TokenCollateral" class="inputfieldwrapper collateral">
              <div class="labeltextblock">Curve Input C</div>
              <div class="code-embed curve w-embed"><input v-model="tokenSettings.curveParamCInput" style="
 color:##e2e2e2;
 background-color:#1E1E1E;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 40px;
  border-top-style: solid;
  	border-top-color: #232323;
  		border-top-width: 1px;
  border-left-style: solid;
    border-left-color: #232323;
  		border-left-width: 1px;
  border-right-style: solid;
    border-right-color: #232323;
  		border-right-width: 1px;
  border-bottom-style: solid;
    border-bottom-color: #232323;
  		border-bottom-width: 1px;
      " type="text" maxlength="35" id="curveParamCInput"></div>
            </article>
          </div>
          <div class="protipwrapper left step2">
            <div class="protipiconholder left"><img src="images/Liquorice-Gen-Assets-06.svg" alt=""
                class="protipicon left">
              <div class="protipiconp">i</div>
            </div>
            <p class="protippara"><span><strong
                  class="protiphead">Protip</strong></span><strong>‍</strong><br><br><strong>Holding the others
                constant,
                a, b &amp; c represent the following:</strong><br>‍<br>a sets the curvature of the line. Setting a &gt;
              0
               will make the price of your token exponential, and climb very quickly.<br><br>b sets the gradient of the
              line, i.e how steeply it rises. If b &gt; 0 then your curve will be tilted upwards, and the price will
              steadily increase.<br><br>c sets how high the price starts. This variable has more flexibility and does
              not
              affect over/under flows as much so long as  c &lt; 1e18.</p>
          </div>
        </div>
        <div class="protipwrapper right">
          <div class="protipiconholder"><img src="images/Liquorice-Gen-Assets-08.svg" alt="" class="protipicon">
            <div class="protipiconp">i</div>
          </div>
          <p class="protippara"><span><strong class="protiphead">Protip</strong></span><strong><br>‍</strong><br><span
              class="underline"><strong>Name of Token:</strong></span><br>This will be the name of your
            token.<br><br><span class="underline"><strong>Symbol:</strong></span><br>This will be the shorthand that is
            used to display the name of your token.Collateral <br><br><span
              class="underline"><strong>Address:</strong></span><br>The address of the ERC20 token you want the cost of
            your token to be set in. I.e enter the DAI address and the price of your token will be expressed as a DAI
            value.<br><br><strong>Note:</strong> Eth is not supported as a collateral token, you will need to use
            wrapped
            Eth. It is recommended you use a stable coin, as a token with a volatile price will heavily affect the
            opportunity cost of buying your token.<br></p>
        </div>
        <div class="protipwrapper left">
          <div class="protipiconholder left"><img src="images/Liquorice-Gen-Assets-06.svg" alt=""
              class="protipicon left">
            <div class="protipiconp">i</div>
          </div>
          <p class="protippara"><span><strong class="protiphead">Protip</strong></span><strong>‍<br>‍</strong><br><span
              class="underline"><strong>Token threshold:</strong></span><br>How many tokens do you want to be minted
            before moving across to the free market. Remember that you will not be able to mint more tokens than this
            number, so it&#x27;s better for this to be high with a low bonding curve price.<br><br><span
              class="underline"><strong>Timeout:</strong></span><br>This will determine how long your token will wait
            before it starts checking against the minimum threshold rather than the max threshold. Your bonding curve
            will
            not shut down or stop functioning after this timeout, Its rather a way to lower the barrier for
            transitioning
            after expiry.<br><br><span class="underline"><strong>Minimum Token Threshold</strong></span><br>The minimum
            number of tokens you want to be minted before transitioning your token into the free market. This value will
            only be checked against after the contract has timed out.</p>
        </div>
      </header>
      <div class="summarysecition">
        <div class="titlesection">
          <h1 class="heading-4">4. Summary</h1>
          <p>Given the parameters you set, here is how your curve is going to behave, and how much funding is going to
            be available when you move over to a Uniswap pool.</p>
          <div class="buttonwrapper">
            <div class="buttonembed w-embed"><button type="button" style="color:#FFFFFF;
          background-color:#FF500B;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 10px;
          padding-bottom: 10px" @click="showSummary()">
                Show Summary
              </button></div>
          </div>
        </div>
        <div class="summarycontents address">
          <div class="scriptinfowrapperaddress">
            <div class="itemwrapper">
              <div id="tokenInfoCO" class="textblock address">{{collateralToken}}</div>
              <h4>Token Collateral Address</h4>
            </div>
          </div>
        </div>
        <div class="summarycontents">
          <div class="scriptinfowrapper _01">
            <div class="itemwrapper">
              <div id="tokenInfoSY" class="textblock big">{{tokenResults.synb}}</div>
              <div id="tokenInfoNA" class="textblock medium">{{tokenResults.name}}</div>
            </div>
          </div>
          <div class="scriptinfowrapper _03">
            <div class="itemwrapper">
              <div id="tokenInfoTT" class="textblock medium-number">{{tokenResults.maxToken}}</div>
              <h4>Token Threshold</h4>
            </div>
          </div>
          <div class="scriptinfowrapper _05b">
            <div class="itemwrapper">
              <div id="tokenInfoMTT" class="textblock medium-number">{{tokenResults.minToken}}</div>
              <h4>Minimum Token <br>Threshold</h4>
            </div>
          </div>
          <div class="scriptinfowrapper _06">
            <div class="itemwrapper">
              <div id="tokenInfoTO" class="textblock medium-number">{{tokenResults.timeout}}</div>
              <h4>Collateral Time Out<br>(months)</h4>
            </div>
          </div>
        </div>
        <div class="summarycontents">
          <div class="scriptinfowrapper _07">
            <div class="itemwrapper">
              <div id="curveInfoA" class="textblock medium-number">{{tokenResults.curveA}}</div>
              <h4>curve Parameter</h4>
              <div class="textblock small">a</div>
            </div>
          </div>
          <div class="scriptinfowrapper _08">
            <div class="itemwrapper">
              <div id="curveInfoB" class="textblock medium-number">{{tokenResults.curveB}}</div>
              <h4>curve Parameter</h4>
              <div class="textblock small">B</div>
            </div>
          </div>
          <div class="scriptinfowrapper _08">
            <div class="itemwrapper">
              <div id="curveInfoC" class="textblock medium-number">{{tokenResults.curveC}}</div>
              <h4>curve Parameter</h4>
              <div class="textblock small">C</div>
            </div>
          </div>
        </div>
      </div>
      <div class="resultssecition">
        <div class="titlesection">
          <h1 class="heading-4">5. Full Results</h1>
          <p>Given the parameters you set, here is how your curve is going to behave, and how much funding is going to
            be available when you move over to a Uniswap pool <span class="emojitextsmall">🦄</span></p>
        </div>
        <div class="summarycontents">
          <div class="scriptinfowrapper _09">
            <div class="textblock small">MAX</div>
            <div class="itemwrapper">
              <div id="tokenMaxResult" class="textblock medium-number">{{tokenResults.maxCollateral}}</div>
              <h4>how much collateral there will be at the token threshold</h4>
            </div>
          </div>
          <div class="spacer"></div>
          <div class="scriptinfowrapper _10">
            <div class="textblock small">Min</div>
            <div class="itemwrapper">
              <div id="tokenMinResult" class="textblock medium-number">{{tokenResults.minCollateral}}</div>
              <h4>how much collateral there will be at the min token threshold</h4>
            </div>
          </div>
        </div>
        <div class="summarycontents">
          <div class="scriptinfowrapper _11">
            <div class="itemwrapper">
              <div id="tokenNumberMaxResult" class="textblock medium-number">{{tokenResults.maxToken}}</div>
              <h4>MAX number of tokens</h4>
            </div>
          </div>
          <div class="scriptinfowrapper _11">
            <div class="itemwrapper">
              <div id="tokenPriceMaxResult" class="textblock medium-number">{{tokenResults.maxTokenStartPrice}}</div>
              <h4>MAX Token Start Price</h4>
            </div>
          </div>
          <div class="scriptinfowrapper _11">
            <div class="itemwrapper">
              <div id="tokenNumberMaxResult" class="textblock medium-number">{{tokenResults.minToken}}</div>
              <h4>Min Number of Tokens</h4>
            </div>
          </div>
          <div class="scriptinfowrapper _11">
            <div class="itemwrapper">
              <div id="tokenPriceMinResult" class="textblock medium-number">{{tokenResults.minTokenStartPrice}}</div>
              <h4>Min Token Start Price</h4>
            </div>
          </div>
        </div>
      </div>
      <div id="Generate" class="generatesection">
        <div class="titlesection">
          <h1 class="heading-4">6. Generate</h1>
          <p><strong>Are you ready to create your IBCO? </strong><br><br>Selecting I am ready below will generate your
            transaction.</p>
          <h2 class="heading-5"><span class="orangetext">Warning: </span><br>This will generate your IBCO contract. Your
            token address will be given to you, and from there you are on your own, good luck!<br><span
              class="emojitext big">🚀</span></h2>
          <div class="buttonwrapper">
            <div class="buttonembed w-embed"><button type="button" style="color:#FFFFFF;
          background-color:#FF500B;
          padding-left: 20px;
          padding-right: 20px;
          padding-top: 10px;
          padding-bottom: 10px" @click="deployMarket()">
                Yes I am Ready!
              </button></div>
          </div>
        </div>
      </div>
      <div v-if="txPending">
        <img src="./images/load.gif">
      </div>
      <div v-if="createdTokenAddress != null" id="Generate" class="productsection">
        <div class="titlesection">
          <h1 class="heading-4">7. Get New Token Address</h1>
          <p>Click to see it on Etherscan</p><a id="newTokenAddress"
            :href="`https://rinkeby.etherscan.io/address/${createdTokenAddress}`" target="_blank"
            class="newaddresslink">{{createdTokenAddress}}</a>
        </div>
      </div>
    </main>
    <div class="footersection">
      <div id="TopLevelFooter" class="footer-top-level-content">
        <div class="footer-logo"><img
            src="https://uploads-ssl.webflow.com/5e2957ba64852b9941d95ef8/5e2af00a47a6a2ddf4605eda_LinumLabs%20Official%20Long%20Logo%20WHITE.svg"
            alt="" class="image-17">
          <div class="footer-copyright-2">Linum Labs AG.</div>
        </div>
        <ol role="list" class="list01-2">
          <li class="link-footer box"><a href="#" class="link-footer">About</a></li>
          <li class="link-footer box"><a href="#" class="link-footer">Services</a></li>
          <li class="link-footer box"><a href="#" class="link-footer">Use Cases</a></li>
        </ol>
        <div class="social-media-icons-2"><a href="https://t.me/joinchat/H0o-axGcUUH2Y8Ty3KOieA"
            class="social-link-block-2 w-inline-block"></a><a href="https://twitter.com/Molecule_to" target="_blank"
            class="social-link-block-2 w-inline-block"><img
              src="https://uploads-ssl.webflow.com/5d4c40858620ae319d34e1e5/5d57d7fb1e1398834a1b95b2_IconswebCyan_twitter.svg"
              alt="" class="social01-2"></a><a href="https://medium.com/molecule-blog" target="_blank"
            class="social-link-block-2 w-inline-block"><img
              src="https://uploads-ssl.webflow.com/5d4c40858620ae319d34e1e5/5d57d7ec8602db1e02921e33_IconswebCyan_medium.svg"
              alt="" class="social01-2"></a><a href="https://www.linkedin.com/company/molecule-protocol/"
            target="_blank" class="social-link-block-2 w-inline-block"><img
              src="https://uploads-ssl.webflow.com/5d4c40858620ae319d34e1e5/5d57d82483100bf15dff7648_IconswebCyan_linkedin.svg"
              alt="" class="social01-2"></a><a href="https://gitlab.com/linumlabs" target="_blank"
            class="social-link-block-2 w-inline-block"><img src="images/IconswebMOL_gitlab.svg" alt=""
              class="social01-2"></a><a href="https://discord.gg/KPqEZmQ" target="_blank"
            class="social-link-block-2 w-inline-block"></a></div>
      </div>
    </div>
  </div>
  <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5ec2eb48d7c5d8719b390274"
    type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
  <!-- <script>
	//Basic Info
  function tokenBasicInfo() {
  	var name = document.getElementById("tokenNameInput").value;
    var symbol = document.getElementById("tokenSymbolInput").value;
    var collateral = document.getElementById("tokenCollateralInput").value;
    document.getElementById("tokenInfoNA").innerHTML = name;
    document.getElementById("tokenInfoSY").innerHTML = symbol;
    document.getElementById("tokenInfoCO").innerHTML = collateral;
  }
  //Advanced Info
  function tokenAdvancedInfo() {
    var tokenThreshold = document.getElementById("tokenThresholdInput").value;
    var tokenTimeOut = document.getElementById("tokenTimeOutInput").value;
    var minTokenThreshold = document.getElementById("minTokenThresholdInput").value;
    document.getElementById("tokenInfoTT").innerHTML = tokenThreshold;
    document.getElementById("tokenInfoTO").innerHTML = tokenTimeOut
    document.getElementById("tokenInfoMTT").innerHTML = minTokenThreshold;
	}
  //Curve info
   function curveParamInfo() {
    var curveParamA = document.getElementById("curveParamAInput").value;
    var curveParamB = document.getElementById("curveParamBInput").value;
    var curveParamC = document.getElementById("curveParamCInput").value;
    document.getElementById("curveInfoA").innerHTML = curveParamA;
    document.getElementById("curveInfoB").innerHTML = curveParamB;
    document.getElementById("curveInfoC").innerHTML = curveParamC;
  }
 //Summary of all inputs
  function allInfo() {
  	tokenBasicInfo();
    tokenAdvancedInfo();
    curveParamInfo();
  }
  function resetInfo() {  
  	// Reset all info in inputs
    document.getElementById("tokenNameInput").value = "";
    document.getElementById("tokenSymbolInput").value = ""; 
    document.getElementById("tokenCollateralInput").value = "";
		document.getElementById("tokenThresholdInput").value = "";
		document.getElementById("tokenTimeOutInput").value = "";
		document.getElementById("minTokenThresholdInput").value = "";
    document.getElementById("curveParamAInput").value = "";
    document.getElementById("curveParamBInput").value = "";
    document.getElementById("curveParamCInput").value = "";
		// Reset all info in summary
		document.getElementById("tokenInfoNA").innerHTML = "Coolest Token";
    document.getElementById("tokenInfoSY").innerHTML = "CLT";
    document.getElementById("tokenInfoCO").innerHTML = "0x89d24A6b4CcB1B6fAA2625fE562bDD9a23260359";
    document.getElementById("tokenInfoTT").innerHTML = "000 . 000 000 000 000 000 000";
    document.getElementById("tokenInfoTO").innerHTML = "000";
    document.getElementById("tokenInfoMTT").innerHTML = "000 . 000 000 000 000 000 000";
    document.getElementById("curveInfoA").innerHTML = "000 000 000 000 000 000";
    document.getElementById("curveInfoB").innerHTML = "000 000 000 000 000 000";
    document.getElementById("curveInfoC").innerHTML = "000 000 000 000 000 000";
    // Reset all info in results
    document.getElementById("tokenMaxResult").innerHTML = "00 000 000 . 000 000 000 000 000 000";
    document.getElementById("tokenMinResult").innerHTML = "00 000 000 . 000 000 000 000 000 000";
    document.getElementById("tokenNumberMaxResult").innerHTML = "00 000 000 . 000 000 000 000 000 000";
    document.getElementById("tokenPriceMaxResult").innerHTML = "00 000 000 . 000 000 000 000 000 000";
    document.getElementById("tokenNumberMaxResult").innerHTML = "00 000 000 . 000 000 000 000 000 000";
    document.getElementById("tokenPriceMinResult").innerHTML = "00 000 000 . 000 000 000 000 000 000";
  }
  //Generate
  function Generate() {
  	tokenBasicInfo();
    tokenAdvancedInfo();
    curveParamInfo();
    //add in extra math and info needed to create the bonding curve with all inputs on this page
  }
</script> -->
  <script src="https://cdn.ethers.io/scripts/ethers-v4.min.js" charset="utf-8" type="text/javascript">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>

    let vue = new Vue({
      el: "#vue-app",
      data() {
        return {
          connected: false,
          ethers: null,
          signer: null,
          account: null,
          bondingCurveFactory: null,
          bondingCurveFactyoryAddress: "0xC6FBBE7924B3453d71EA68f02c1d2540853cE924",
          curve: null,
          curveAddress: "0x3d2623C0Cdd2ba942a30FED3C92902091FE0D9c1",
          collateralToken: "0x95b58a6bff3d14b7db2f5cb5f0ad413dc2940658",
          createdTokenAddress: null,
          txPending: false,
          txComplete: false,
          tokenSettings: {
            tokenNameInput: null,
            tokenSymbolInput: null,
            tokenThresholdInput: null,
          },
          tokenResults: {
            name: "",
            synb: "",
            maxToken: "000 . 000 000 000 000 000 000",
            minToken: "000 . 000 000 000 000 000 000",
            maxCollateral: "000 . 000 000 000 000 000 000",
            minCollateral: "000 . 000 000 000 000 000 000",
            maxTokenStartPrice: "000 . 000 000 000 000 000 000",
            minTokenStartPrice: "000 . 000 000 000 000 000 000",
            curveA: "000 000 000 000 000 000",
            curveB: "000 000 000 000 000 000",
            curveC: "000 000 000 000 000 000",
            timeout: "000",
          },
          bondingCurveFactoryABI: [
            {
              "inputs": [
                {
                  "internalType": "address",
                  "name": "_uniswapRouter",
                  "type": "address"
                }
              ],
              "stateMutability": "nonpayable",
              "type": "constructor"
            },
            {
              "anonymous": false,
              "inputs": [
                {
                  "indexed": false,
                  "internalType": "address",
                  "name": "curve",
                  "type": "address"
                },
                {
                  "indexed": false,
                  "internalType": "address",
                  "name": "market",
                  "type": "address"
                }
              ],
              "name": "factorySetUp",
              "type": "event"
            },
            {
              "anonymous": false,
              "inputs": [
                {
                  "indexed": false,
                  "internalType": "address",
                  "name": "owner",
                  "type": "address"
                },
                {
                  "indexed": false,
                  "internalType": "address",
                  "name": "token",
                  "type": "address"
                },
                {
                  "indexed": false,
                  "internalType": "string",
                  "name": "name",
                  "type": "string"
                }
              ],
              "name": "marketCreated",
              "type": "event"
            },
            {
              "inputs": [],
              "name": "activeCurve",
              "outputs": [
                {
                  "internalType": "contract Curve",
                  "name": "",
                  "type": "address"
                }
              ],
              "stateMutability": "view",
              "type": "function"
            },
            {
              "inputs": [],
              "name": "activeMarketTransition",
              "outputs": [
                {
                  "internalType": "contract MarketTransition",
                  "name": "",
                  "type": "address"
                }
              ],
              "stateMutability": "view",
              "type": "function"
            },
            {
              "inputs": [
                {
                  "internalType": "address",
                  "name": "",
                  "type": "address"
                },
                {
                  "internalType": "uint256",
                  "name": "",
                  "type": "uint256"
                }
              ],
              "name": "deployedMarkets",
              "outputs": [
                {
                  "internalType": "address",
                  "name": "",
                  "type": "address"
                }
              ],
              "stateMutability": "view",
              "type": "function"
            },
            {
              "inputs": [],
              "name": "owner",
              "outputs": [
                {
                  "internalType": "address",
                  "name": "",
                  "type": "address"
                }
              ],
              "stateMutability": "view",
              "type": "function"
            },
            {
              "inputs": [],
              "name": "uniswapRouter",
              "outputs": [
                {
                  "internalType": "contract IUniswapV2Router01",
                  "name": "",
                  "type": "address"
                }
              ],
              "stateMutability": "view",
              "type": "function"
            },
            {
              "inputs": [],
              "name": "getFactorySetUp",
              "outputs": [
                {
                  "internalType": "address",
                  "name": "",
                  "type": "address"
                },
                {
                  "internalType": "address",
                  "name": "",
                  "type": "address"
                }
              ],
              "stateMutability": "view",
              "type": "function"
            },
            {
              "inputs": [
                {
                  "internalType": "uint256[3]",
                  "name": "_curveParameters",
                  "type": "uint256[3]"
                },
                {
                  "internalType": "string",
                  "name": "_name",
                  "type": "string"
                },
                {
                  "internalType": "string",
                  "name": "_symbol",
                  "type": "string"
                },
                {
                  "internalType": "address",
                  "name": "_underlyingCollateral",
                  "type": "address"
                },
                {
                  "internalType": "uint256",
                  "name": "_tokenThreshold",
                  "type": "uint256"
                },
                {
                  "internalType": "uint256",
                  "name": "_minimumTokenThreshold",
                  "type": "uint256"
                },
                {
                  "internalType": "uint256",
                  "name": "_thresholdTimeout",
                  "type": "uint256"
                }
              ],
              "name": "createMarket",
              "outputs": [
                {
                  "internalType": "address",
                  "name": "",
                  "type": "address"
                }
              ],
              "stateMutability": "nonpayable",
              "type": "function"
            },
            {
              "inputs": [
                {
                  "internalType": "address",
                  "name": "_user",
                  "type": "address"
                }
              ],
              "name": "getDeployedMarkets",
              "outputs": [
                {
                  "internalType": "address[]",
                  "name": "",
                  "type": "address[]"
                }
              ],
              "stateMutability": "view",
              "type": "function"
            }
          ],
          curveABI: [
            {
              "inputs": [
                {
                  "internalType": "uint256",
                  "name": "_tokens",
                  "type": "uint256"
                }
              ],
              "name": "getBuyPrice",
              "outputs": [
                {
                  "internalType": "uint256",
                  "name": "",
                  "type": "uint256"
                }
              ],
              "stateMutability": "view",
              "type": "function"
            },
            {
              "inputs": [
                {
                  "internalType": "uint256",
                  "name": "_tokens",
                  "type": "uint256"
                }
              ],
              "name": "getSellAmount",
              "outputs": [
                {
                  "internalType": "uint256",
                  "name": "",
                  "type": "uint256"
                }
              ],
              "stateMutability": "view",
              "type": "function"
            },
            {
              "inputs": [
                {
                  "internalType": "uint256",
                  "name": "_a",
                  "type": "uint256"
                },
                {
                  "internalType": "uint256",
                  "name": "_b",
                  "type": "uint256"
                },
                {
                  "internalType": "uint256",
                  "name": "_c",
                  "type": "uint256"
                },
                {
                  "internalType": "uint256",
                  "name": "_threshold",
                  "type": "uint256"
                }
              ],
              "name": "getEndPrice",
              "outputs": [
                {
                  "internalType": "uint256",
                  "name": "",
                  "type": "uint256"
                }
              ],
              "stateMutability": "pure",
              "type": "function"
            },
            {
              "inputs": [
                {
                  "internalType": "uint256",
                  "name": "_a",
                  "type": "uint256"
                },
                {
                  "internalType": "uint256",
                  "name": "_b",
                  "type": "uint256"
                },
                {
                  "internalType": "uint256",
                  "name": "_c",
                  "type": "uint256"
                },
                {
                  "internalType": "uint256",
                  "name": "_threshold",
                  "type": "uint256"
                }
              ],
              "name": "getEndCollateral",
              "outputs": [
                {
                  "internalType": "uint256",
                  "name": "",
                  "type": "uint256"
                }
              ],
              "stateMutability": "pure",
              "type": "function"
            }
          ]
        };
      },
      methods: {
        async connect() {
          if (window.ethereum) {
            this.ethers = new ethers.providers.Web3Provider(window.ethereum)
            this.signer = this.ethers.getSigner()
            window.ethereum.enable();
            this.connected = true;

            this.initApp()
          } else {
            alert(
              "To use this app you'll need metamask or another web3 provider.'"
            );
          }
        },
        async initApp() {
          this.account = await this.signer.getAddress()

          this.bondingCurveFactory = new ethers.Contract(this.bondingCurveFactyoryAddress,
            this.bondingCurveFactoryABI,
            this.signer);

          const owner = await this.bondingCurveFactory.owner()
        },

        async deployMarket() {
          const results = await this.bondingCurveFactory.createMarket(
            [
              this.tokenSettings.curveParamAInput,
              this.tokenSettings.curveParamBInput,
              this.tokenSettings.curveParamCInput
            ],
            this.tokenSettings.tokenNameInput,
            this.tokenSettings.tokenSymbolInput,
            this.collateralToken,
            ethers.utils.parseUnits(this.tokenSettings.tokenThresholdInput, 18),
            ethers.utils.parseUnits(this.tokenSettings.minTokenThresholdInput, 18),
            this.tokenSettings.tokenTimeOutInput
          )

          this.txPending = true;

          let eventFilter = this.bondingCurveFactory.on("marketCreated", (caller, newToken, name, event) => {
            this.createdTokenAddress = newToken;
            this.txComplete = true;
            this.txPending = false;
          });
        },

        async showSummary() {
          this.tokenResults.name = this.tokenSettings.tokenNameInput;
          this.tokenResults.synb = this.tokenSettings.tokenSymbolInput;
          this.tokenResults.maxToken = ethers.utils.parseUnits(this.tokenSettings.tokenThresholdInput, 18);
          this.tokenResults.minToken = ethers.utils.parseUnits(this.tokenSettings.minTokenThresholdInput, 18);
          this.tokenResults.curveA = this.tokenSettings.curveParamAInput;
          this.tokenResults.curveB = this.tokenSettings.curveParamBInput;
          this.tokenResults.curveC = this.tokenSettings.curveParamCInput;
          this.tokenResults.timeout = this.tokenSettings.tokenTimeOutInput;

          this.curve = new ethers.Contract(this.curveAddress,
            this.curveABI,
            this.signer
          );

          this.tokenResults.maxCollateral = await this.curve.getEndCollateral(
            this.tokenSettings.curveParamAInput,
            this.tokenSettings.curveParamBInput,
            this.tokenSettings.curveParamCInput,
            ethers.utils.parseUnits(this.tokenSettings.tokenThresholdInput, 18),
          );

          this.tokenResults.maxTokenStartPrice = await this.curve.getEndPrice(
            this.tokenSettings.curveParamAInput,
            this.tokenSettings.curveParamBInput,
            this.tokenSettings.curveParamCInput,
            ethers.utils.parseUnits(this.tokenSettings.tokenThresholdInput, 18),
          );

          this.tokenResults.minCollateral = await this.curve.getEndPrice(
            this.tokenSettings.curveParamAInput,
            this.tokenSettings.curveParamBInput,
            this.tokenSettings.curveParamCInput,
            ethers.utils.parseUnits(this.tokenSettings.minTokenThresholdInput, 18),
          );

          this.tokenResults.minTokenStartPrice = await this.curve.getEndPrice(
            this.tokenSettings.curveParamAInput,
            this.tokenSettings.curveParamBInput,
            this.tokenSettings.curveParamCInput,
            ethers.utils.parseUnits(this.tokenSettings.minTokenThresholdInput, 18),
          );
        },
      },

      async mounted() { },
    });
  </script>
</body>

</html>